.timeline-header_container {
  background-color: #f44336;
}
.timeline-header {
  display: flex;
  flex-direction: column;
  &_days {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f44336;
    color: white;
    padding: 8px 16px;
  }
  &_hours {
    display: flex;
    flex-direction: row;
  }
  .hour-marker {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #bbb;
    font-size: 14px;
    background-color: #f0f0f0;
    border-left: 2px solid #bbb;
    padding: 6px 0;
    &:last-of-type {
      border-right: 2px solid #bbb;
    }
  }
}
